@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
}
.left img{
    width: 23px;
    height: 23px;
}
.container{
    padding: 0 10vw;
    /* background-color: red; */
    margin: 13px 0px;
}
.left li{
    list-style: none;
    padding: 0 12px;
}
.section1{
    background-color: whitesmoke;
    height: 120vh;
}