

#body{
    
    background-color: aqua;
    width: 23vw;
    height:46vh;
    margin: auto;
    margin-top: 5%;
    
    /* justify-content: center; */
}
input{
    width: 22vw;
    height: 7vh;
    font-weight:bold ;
    
}
button{
    font-weight: bold;
    border-radius: 3px;
    border-style: none;
}
.sub{
    width:4.3vw;
}
